apiVersion: apps/v1
kind: Deployment
metadata:
  name: connecthub-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: connecthub-backend
  template:
    metadata:
      labels:
        app: connecthub-backend
    spec:
      containers:
        - name: backend
          image: joeb0/connecthub-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080

          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: postgres-secret

          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 6

          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3