apiVersion: apps/v1
kind: Deployment
metadata:
  name: connecthub-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: connecthub-frontend
  template:
    metadata:
      labels:
        app: connecthub-frontend
    spec:
      containers:
        - name: frontend
          image: joeb0/connecthub-frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80

          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"